*{
    font-family: 'Poppins', sans-serif;
}
.site-button-link{
    font-family: 'Poppins', sans-serif;
}
.post-title{
    font-family: 'Poppins', sans-serif;
}
.caption {
    /* width: 120%;
    height: auto; */
    position: absolute;
    top: 50%;
    left: 8rem;
    z-index: 9;
    transform: translateY(-50%);
    opacity: 0;
    transition: 500ms ease opacity, 500ms ease transform;
    transform: translateY(60px);
    font-family: 'Poppins', sans-serif;
  }
  .slide{
    width: 120%;
    max-width: 100%;
  }
  .caption{
    width: 120%;
    max-width: 100%;
  }
  .caption.current-caption {
    transition-delay: 1000ms;
    opacity: 1;
    transform: translateY(0);
    font-family: 'Poppins', sans-serif;
  }
  .caption.previous-caption {
    transform: translateY(-60px);
  }
  .caption .caption-heading {
    transition: 500ms ease-in all; 
  }
  .nav{
    
    font-family: 'Poppins', sans-serif;
  }
  .caption .caption-heading h1 {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-indent: -0.2rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }
  .caption .caption-subhead {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    letter-spacing: 4px;
    word-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    display: block;
    font-family: 'Poppins', sans-serif;
  }
  .caption a.btn {
    color: #333;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    z-index: 9;
    transition: 250ms ease-in background-color, 500ms ease-in color;
    font-family: 'Poppins', sans-serif;
  }
  .caption a.btn:hover {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
  
  .container2 {
    width: 100%;
    height: 100%;
    /* background-color: #2C302E; */
    display: flex;
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  
  .left-col, .right-col {
    width: 100%;
    box-sizing: border-box;
    height: calc(100% - 4rem);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  
  .left-col {
    background-size: cover;
    background-postion: center top;
    overflow: hidden;
    margin: 2rem;
    position: relative;
    font-family: 'Poppins', sans-serif;
  }
  .left-col .slide {
    filter: grayscale(100%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: left top !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    opacity: 0;
    transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
    transform: translateY(-100%);
    scale: 1;
    z-index: -1;
    font-family: 'Poppins', sans-serif;
  }
  .left-col .slide.previous {
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
    animation-delay: 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: 3s ease transform;
    will-change: transform;
    font-family: 'Poppins', sans-serif;
  }
  .left-col .slide.previous.change {
    transform: translateY(50%);
    font-family: 'Poppins', sans-serif;
  }
  .left-col .slide.next {
    transform: translateY(-100%);
    z-index: 3;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    font-family: 'Poppins', sans-serif;
  }
  .left-col .slide.current {
    opacity: 1;
    transform: translateY(0) scale(1.25);
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: 'Poppins', sans-serif;
  }
  
  .right-col {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .right-col .preview {
    max-width: 400px;
    font-family: 'Poppins', sans-serif;
  }
  
  .nav2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }
  .nav2 a {
    color: #fafafa;
    font-size: 3rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Poppins', sans-serif;
  }
  .nav2:hover .slide-up, .nav2:hover .slide-down {
    opacity: 0.5;
    transform: translateX(0);
    font-family: 'Poppins', sans-serif;
  }
  .nav2 .slide-up, .nav2 .slide-down { 
    display: block;
    position: absolute;
    text-align: center;
    padding: 1rem;
    opacity: 0;
    transition: 0.25s ease opacity, 0.25s ease transform;
    z-index: 99;
    font-family: 'Poppins', sans-serif;
  }
  .nav2 .slide-up:hover, .nav2 .slide-down:hover {
    opacity: 1;
    font-family: 'Poppins', sans-serif;
  }
  .nav2 .slide-up a, .nav2 .slide-down a {
    text-decoration: none;
    font-weight: 300 !important;
    font-family: 'Poppins', sans-serif;
  }
  .nav2 .slide-up {
    top: 50%;
    left: 0;
    transform: translateX(-100%);
    font-family: 'Poppins', sans-serif;
  }
  .nav2 .slide-down {
    top: 50%;
    right: 0;
    transform: translateX(100%);
    font-family: 'Poppins', sans-serif;
  }